<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/app.css" type="text/css">
  </head>
  <body>
  <div id="main">
    <p>
      <img src="../static/img/warpnet-logo.png" alt="logo" height="240"/>
    </p>
    <form class="login" action="." method="post">
      <p class="ui">IP address: <br><input class="textInput" type="text" name="input1"></p>
      <p class="ui">Username: <br><input class="textInput" type="text" name="input2"></p>
      <p class="ui">Password: <br><input class="textInput" type="password" name="input3"></p>
      <p class="ui">
        <br>
      <input class="bu" type="submit" value="Login">
      <input class="bu" type="reset" value="Reset">
      </p>
    </form>
  </div>
  </body>
</html>
